minimum-release-age-exclude[]=eslint-config-next
minimum-release-age-exclude[]=next
minimum-release-age-exclude[]=@tailwindcss/postcss
minimum-release-age-exclude[]=tailwindcss
minimum-release-age-exclude[]=@next/*
minimum-release-age-exclude[]=@radix-ui/*
